[submodule "ResNet18-Spatial-Attention"]
	path = ResNet18-Spatial-Attention
	url = git@github.com:jens-nau/ResNet18-Spatial-Attention.git
[submodule "jupyter-dash"]
	path = jupyter-dash
	url = git@github.com:plotly/jupyter-dash.git
